{% block email_widget %}
    <div class="email_widget">
        {% set type = type|default('email') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block text_widget %}
    <div class="text_widget">
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <ul class="no-list">
                {% for error in errors %}
                    <li class="no-list">{{ error.message }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock form_errors %}




