<ol class="breadcrumb">
    {% if step >= 1 %}
        <li class="breadcrumb-item col-md-3">{{ 'breadcrumb.booking'|trans }}</a></li>
    {% if step >= 2 %}
        <li class="col-md-3">{{ 'breadcrumb.tickets'|trans }}</a></li>
    {% endif %}
    {% if step >= 3 %}
        <li class="col-md-3">{{ 'breadcrumb.payment'|trans }}</a></li>
    {% endif %}
    {% if step >= 4 %}
        <li class="col-md-3">{{ 'breadcrumb.confirmation'|trans }}</a></li>
    {% endif %}
</ol>
